@import "../../styles/variables.scss";

.userpage {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .pasco {
      min-width: 300px;
      .connectionForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        .bouton {
          margin-top: 10px;
        }
      }
    }
  }
}
