@import "../../styles/variables.scss";
$border-winners: 30px;

.prewei {
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    h1 {
      padding: 0px 10px;
      align-self: center;
      width: fit-content;
      z-index: 10;
      margin-bottom: -20px;
      background-color: white;
    }
  }

  .classement {
    align-self: center;
    width: 90%;
    border: solid 2px $main-color;
    border-radius: 20px;
    .teams {
      margin: 20px;
      border-left: solid 1px $main-color;
      align-self: center;
      .team {
        width: 100%;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .points-container {
          margin: 10px 0px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          overflow: hidden;
          width: 70%;
          .points {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            background-color: $main-color;
            color: white;
            display: flex;
            flex-direction: row-reverse;
            text-align: end;
            font-weight: bold;
            &.p0 {
              background-color: $top1-color;
            }
            &.p1 {
              background-color: $top2-color;
            }
            &.p2 {
              background-color: $top3-color;
            }
          }
        }
        .team-nom {
          padding: 7px 0;
          position: relative;
          width: 30%;
          max-width: 170px;
          display: flex;
          flex-direction: row;
          text-align: end;
          align-self: center;
          justify-content: flex-end;
          align-items: center;
          overflow: hidden;
          .txt {
            z-index: 1;
            font-weight: bold;
            padding: 3px 10px 3px 00px;
            // outline: solid 2px $main-color;
            // background-color: white;
            // border-radius: 5px;
            // margin-right: -5px;
            background: linear-gradient(
              270deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 1) 29%,
              rgba(255, 255, 255, 0) 100%
            );
          }
          img {
            z-index: -10;
            width: 100%;
            position: absolute;
            object-fit: cover;
          }
          .cover {
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: -100%;
            z-index: 0;
            background: linear-gradient(
              270deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 1) 50%,
              rgba(255, 255, 255, 1) 100%
            );
          }
        }
      }
    }
  }
  .boutons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-self: center;
    width: 90%;
    .bouton {
      align-self: center;
      margin-top: 10px;
      max-width: 500px;
    }
  }
  .error {
    color: red;
  }
  .defiTab {
    z-index: 1000;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    .content {
      position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;
      bottom: 30px;
      background-color: white;
      border-radius: 10px;
      .bouton {
        &.valider {
          margin-left: 5px;
        }
      }
      .line {
        display: flex;
        flex-direction: row;
        height: 15%;
        &.noHeight {
          height: 60%;
          .c2 {
            font-size: 16px;
            display: flex;
            align-items: start;
            text-align: start;
            width: 80%;
            max-width: 400px;
            form {
              width: 80%;
              select {
                margin-bottom: 20px;
              }
            }
          }
        }
        .c1 {
          position: relative;
          width: 20%;
          max-width: 100px;
          height: 100%;
          .txt {
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 30px;
            width: 30px;
            background-color: white;
            border: solid 2px $main-color;
            border-radius: 1000px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .ligne {
            position: absolute;
            z-index: 0;
            height: 100%;
            width: 50%;
            border-right: solid 2px $main-color;
          }
        }
        .c2 {
          font-size: 16px;
          display: flex;
          align-items: center;
          text-align: start;
          width: 80%;
        }
      }
    }
  }
}
