@import "./variables.scss";

a {
  color: $main-color;
  text-decoration: none;
  :hover {
    color: $main-color-light;
    opacity: 0.3;
  }
  :visited {
    color: $main-color;
  }
}

.page {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
}

.bouton {
  width: 100%;
  padding: 10px 0px;
  color: white;
  text-align: center;
  justify-content: center;
  background-color: $main-color;
  border-radius: 10px;
  font-weight: bold;
  &.light {
    color: $main-color;
    background-color: white;
    border: solid 2px $main-color;
    &.very {
      color: $main-color-light;
      border: solid 2px $main-color-light;
    }
  }
}

.loading {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
